<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library Management System</title>
    <style>
        body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 5px;
}


    </style>
</head>
<body>
    <header>
        <h1>Library Management System</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/user/user-management">User Management</a></li>
                <li><a href="/book/book-management">Book Management</a></li>
                <li><a href="/book/view-book">view Books</a></li>
                <li><a href="/user/view-user">View Users</a></li>
            </ul>
        </nav>
    </header>

    <section id="dashboard">
        <h2>book Added Successfully</h2>
    </section>
</body>
</html>