body{
    background-color: grey;

}
.dive{
    height: 100px;
    width: 400px;
    background-color: red;
    position: relative;
    left: 50%;
}
#scorecard{
    background-color: white;
}
#overcard{
    background-color: greenyellow;
}
#runcard{
    background-color: antiquewhite;
}